%shared-btn {
  min-width: 240px;
  height: 60px;
  padding: 12px 22px;
  font-family: $font-1st;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 1px;
  text-align: center;
}

%flex-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
%shared-disabled {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}

.tc-btn {
  border-radius: 4px;
  text-transform: uppercase;
  &.btn-primary {
    @extend %shared-btn;
    color: $neutral-white;
    background-color: $purple;
    border: none;
    @media only screen and (max-width: $screen-breakpoint-md) {
      min-width: 135px;
      height: auto;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: normal;
      padding: 12px 12px;
    }
    div {
      @extend %flex-svg;
      .icon {
        fill: $neutral-white;
      }
    }
    &:hover:not(.disabled) {
      background-color: $color-purple-darker;
    }
    &.disabled {
      background-color: $color-text-darker;
      color: $color-text-lighter;
      @extend %shared-disabled;
      div {
        @extend %flex-svg;
        .icon {
          fill: $color-text-lighter;
        }
      }
    }
  }

  &.btn-secondary {
    @extend %shared-btn;
    color: $purple;
    border-color: $purple;
    background-color: $neutral-white;
    @media only screen and (max-width: $screen-breakpoint-md) {
      min-width: 135px;
      height: auto;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: normal;
      padding: 12px 12px;
    }
    div {
      @extend %flex-svg;
      .icon {
        fill: $purple;
      }
    }
    &:hover:not(.disabled) {
      opacity: 0.8;
    }
    &.disabled {
      background-color: $neutral-white;
      color: $color-text-lighter;
      border-color: $color-text-lighter;
      @extend %shared-disabled;
      div {
        .icon {
          fill: $color-text-lighter;
        }
      }
    }
  }
}
