$neutral-black: #2222;
$neutral-white: #fff;
$neutral-violet: #f2f2;
$neutral-dark-gray: #969696;
$dusty-orange: #fbbf00;
$background-color: #f4f4;
$purple: #800080;
$color-purple-darker: darken($purple, 10%);
$color-text: #707070;
$color-text-lighter: lighten($color-text, 10%);
$color-text-darker: darken($color-text, 20%);
